$primary: #DCAE1D;
@import '~bootstrap/scss/bootstrap';
@import '../node_modules/react-loader-spinner/dist/loader/css/react-spinner-loader.css';



body {
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  justify-content: center;
  background-color: #CAE4DB;
  color: #00303F;
  padding: 15px;
}

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  padding: 25px;
}

h5 {
  padding: 10px;
}

p {
  font-family: 'Roboto', sans-serif;
}

footer {
  align-items: center;
}

.bookclub-title {
  padding: 20px;
  font-weight: bold;
}


// .container-grid {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

.list-group-item {
  background-color: #CAE4DB;
  font-weight: bold;
  color: #00303F;
}

// .background-image {
//   background-image: image('../unnamed.png');
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: bottom;
//   position: absolute;
//   z-index: -1;
// }
